In [ ]:
import pandas as pd

1. Загрузка файлов, создание датафреймов

In [ ]:
df_ratings = pd.read_csv('ratings.csv')

In [ ]:
df_ratings.head()

   User_Id  Film_Id  Rating   Unixtime       Date_
0      186      302       3  891717742  04.04.1998
1       22      377       1  878887116  07.11.1997
2      244       51       2  880606923  27.11.1997
3      166      346       1  886397596  02.02.1998
4      298      474       4  884182806  07.01.1998

In [ ]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_Id   99999 non-null  int64
 1   Film_Id   99999 non-null  int64
 2   Rating    99999 non-null  int64
 3   Unixtime  99999 non-null  int64
 4   Date_     99999 non-null  object
dtypes: int64(4), object(1)
memory usage: 3.8+ MB

In [ ]:
df_movies = pd.read_csv('movies.csv', parse_dates=[2], infer_datetime_format=True) ##Необходимо сразу привести столбец со строковыми значениями времени выхода фильма к формату даты

In [ ]:
df_movies['Release_date'] = pd.to_datetime(df_movies['Release_date'])

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Film_Id       1682 non-null   int64
 1   Film_name     1682 non-null   object
 2   Release_date  1681 non-null   datetime64[ns]
 3   Year          0 non-null      float64
 4   VHS_date      0 non-null      float64
 5   IMDb_URL      1679 non-null   object
 6   unknown       1682 non-null   int64
 7   Action        1682 non-null   int64
 8   Adventure     1682 non-null   int64
 9   Animation     1682 non-null   int64
 10  Children`s    1682 non-null   int64
 11  Comedy        1682 non-null   int64
 12  Crime         1682 non-null   int64
 13  Documentary   1682 non-null   int64
 14  Drama         1682 non-null   int64
 15  Fantasy       1682 non-null   int64
 16  Film-Noir     1682 non-null   int64
 17  Horror        1682 non-null   int64
 18  Musical       1682 non-null   int64
 19  Mystery       1682 non-null   int64
 20  Romance       1682 non-null   int64
 21  Sci-fi        1682 non-null   int64
 22  Thriller      1682 non-null   int64
 23  War           1682 non-null   int64
 24  Western       1682 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(20), object(2)
memory usage: 328.6+ KB

In [ ]:
df_movies.head()

   Film_Id          Film_name Release_date  ...  Thriller  War Western
0        1   Toy Story (1995)   1995-01-01  ...         0    0       0
1        2   GoldenEye (1995)   1995-01-01  ...         1    0       0
2        3  Four Rooms (1995)   1995-01-01  ...         1    0       0
3        4  Get Shorty (1995)   1995-01-01  ...         0    0       0
4        5     Copycat (1995)   1995-01-01  ...         1    0       0

[5 rows x 25 columns]

2. Определение Id самого активного пользователя

In [ ]:
df_grp = df_ratings.groupby('User_Id').count()
df_grp.head()

         Film_Id  Rating  Unixtime  Date_
User_Id
1            272     272       272    272
2             62      62        62     62
3             54      54        54     54
4             24      24        24     24
5            175     175       175    175

In [ ]:
df_grp.Rating.max()

737

In [ ]:
df_grp.loc[df_grp['Rating'] == 737]

         Film_Id  Rating  Unixtime  Date_
User_Id
405          737     737       737    737

3. Определение фильмов, оцененных самым активным пользователем

In [ ]:
df_flt = df_ratings.loc[df_ratings['User_Id'] == 405]

In [ ]:
df_merged = pd.merge(df_flt, df_movies, how = 'inner', left_on= 'Film_Id', right_index= True)
df_merged.columns

Index(['Film_Id', 'User_Id', 'Film_Id_x', 'Rating', 'Unixtime', 'Date_',
       'Film_Id_y', 'Film_name', 'Release_date', 'Year', 'VHS_date',
       'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children`s',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [ ]:
df_new = df_merged[['User_Id', 'Film_Id', 'Rating', 'Film_name', 'Release_date', 'unknown', 'Action', 'Adventure', 'Animation', 'Children`s',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War',
       'Western']]
df_new.head()

       User_Id  Film_Id  Rating  ... Thriller War  Western
12275      405       56       4  ...        0   0        0
12382      405      592       1  ...        0   1        0
12429      405     1582       1  ...        0   0        0
12448      405      171       1  ...        0   1        0
12459      405      580       1  ...        1   0        0

[5 rows x 24 columns]

In [ ]:
##Необходимо извлечь год из даты релиза фильма

In [ ]:
df_new['Year'] = pd.DatetimeIndex(df_new['Release_date']).year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_new.shape

(737, 25)

In [ ]:
print(df_new)

       User_Id  Film_Id  Rating  ... War Western  Year
12275      405       56       4  ...   0       0  1994
12382      405      592       1  ...   1       0  1993
12429      405     1582       1  ...   0       0  1986
12448      405      171       1  ...   1       0  1980
12459      405      580       1  ...   0       0  1993
...        ...      ...     ...  ...  ..     ...   ...
98955      405      375       1  ...   0       0  1994
98977      405      445       4  ...   0       0  1976
99147      405     1246       1  ...   0       1  1994
99464      405      196       1  ...   0       0  1967
99755      405      958       1  ...   0       0  1993

[737 rows x 25 columns]

4. Добавление столбцов с суммарными оценками

In [ ]:
df_ratings.head()

   User_Id  Film_Id  Rating   Unixtime       Date_
0      186      302       3  891717742  04.04.1998
1       22      377       1  878887116  07.11.1997
2      244       51       2  880606923  27.11.1997
3      166      346       1  886397596  02.02.1998
4      298      474       4  884182806  07.01.1998

In [ ]:
df_merged_large = pd.merge(df_ratings, df_movies, how = 'inner', left_on= 'Film_Id', right_index= True)
df_merged_large.head()

      Film_Id  User_Id  Film_Id_x  Rating  ...  Sci-fi Thriller  War Western
0         302      186        302       3  ...       0        0    0       0
364       302      191        302       4  ...       0        0    0       0
701       302       49        302       4  ...       0        0    0       0
805       302       54        302       4  ...       0        0    0       0
1102      302       62        302       3  ...       0        0    0       0

[5 rows x 31 columns]

In [ ]:
df_merged_large.shape

(99998, 31)

In [ ]:
df_merged_large_ct = df_merged_large.groupby('Film_Id').count()
df_merged_large_ct.shape

(1681, 30)

In [ ]:
print(df_merged_large_ct)

         User_Id  Film_Id_x  Rating  Unixtime  ...  Sci-fi  Thriller  War  Western
Film_Id                                        ...
1            452        452     452       452  ...     452       452  452      452
2            131        131     131       131  ...     131       131  131      131
3             90         90      90        90  ...      90        90   90       90
4            209        209     209       209  ...     209       209  209      209
5             86         86      86        86  ...      86        86   86       86
...          ...        ...     ...       ...  ...     ...       ...  ...      ...
1677           1          1       1         1  ...       1         1    1        1
1678           1          1       1         1  ...       1         1    1        1
1679           1          1       1         1  ...       1         1    1        1
1680           1          1       1         1  ...       1         1    1        1
1681           1          1       1         1  ...       1         1    1        1

[1681 rows x 30 columns]

In [ ]:
df_merged_large_ct = df_merged_large_ct.rename(columns={'Rating': 'Rating_count'})
print(df_merged_large_ct)

         User_Id  Film_Id_x  Rating_count  ...  Thriller  War  Western
Film_Id                                    ...
1            452        452           452  ...       452  452      452
2            131        131           131  ...       131  131      131
3             90         90            90  ...        90   90       90
4            209        209           209  ...       209  209      209
5             86         86            86  ...        86   86       86
...          ...        ...           ...  ...       ...  ...      ...
1677           1          1             1  ...         1    1        1
1678           1          1             1  ...         1    1        1
1679           1          1             1  ...         1    1        1
1680           1          1             1  ...         1    1        1
1681           1          1             1  ...         1    1        1

[1681 rows x 30 columns]

In [ ]:
df_merged_large_sm = df_merged_large.groupby('Film_Id').sum('Rating')
df_merged_large_sm.shape

(1681, 26)

In [ ]:
print(df_merged_large_sm)

         User_Id  Film_Id_x  Rating  ...  Thriller  War  Western
Film_Id                              ...
1         215609        452    1753  ...       452    0        0
2          64453        262     420  ...       131    0        0
3          41322        270     273  ...         0    0        0
4          98125        836     742  ...       209    0        0
5          37786        430     284  ...         0    0        0
...          ...        ...     ...  ...       ...  ...      ...
1677         854       1677       3  ...         0    0        0
1678         863       1678       1  ...         1    0        0
1679         863       1679       3  ...         0    0        0
1680         863       1680       2  ...         0    0        0
1681         896       1681       3  ...         0    0        0

[1681 rows x 26 columns]

In [ ]:
df_merged_large_sm = df_merged_large_sm.rename(columns={'Rating': 'Rating_sum'})
print(df_merged_large_sm)

         User_Id  Film_Id_x  Rating_sum  ...  Thriller  War  Western
Film_Id                                  ...
1         215609        452        1753  ...       452    0        0
2          64453        262         420  ...       131    0        0
3          41322        270         273  ...         0    0        0
4          98125        836         742  ...       209    0        0
5          37786        430         284  ...         0    0        0
...          ...        ...         ...  ...       ...  ...      ...
1677         854       1677           3  ...         0    0        0
1678         863       1678           1  ...         1    0        0
1679         863       1679           3  ...         0    0        0
1680         863       1680           2  ...         0    0        0
1681         896       1681           3  ...         0    0        0

[1681 rows x 26 columns]

In [ ]:
df_new = pd.merge(df_new[['Film_Id', 'Film_name', 'Year', 'Rating', 'unknown', 'Action', 'Adventure', 'Animation', 'Children`s',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War',
       'Western']], df_merged_large_ct['Rating_count'], on= 'Film_Id')

In [ ]:
df_new = pd.merge(df_new[['Film_Id', 'Film_name', 'Year', 'Rating', 'unknown', 'Action', 'Adventure', 'Animation', 'Children`s',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War',
       'Western', 'Rating_count']], df_merged_large_sm['Rating_sum'], on= 'Film_Id')

In [ ]:
df_new.columns

Index(['Film_Id', 'Film_name', 'Year', 'Rating', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children`s', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War', 'Western',
       'Rating_count', 'Rating_sum'],
      dtype='object')

In [ ]:
print(df_new)

     Film_Id                             Film_name  ...  Rating_count  Rating_sum
0         56                         Priest (1994)  ...           394        1600
1        592                     Stalingrad (1993)  ...             9          30
2       1582  Invitation, The (Zaproszenie) (1986)  ...             1           1
3        171       Empire Strikes Back, The (1980)  ...            65         252
4        580                     Kalifornia (1993)  ...            32         108
..       ...                                   ...  ...           ...         ...
732      375                     Houseguest (1994)  ...            23          45
733      445                Burnt Offerings (1976)  ...            22          77
734     1246                      Bad Girls (1994)  ...             7          11
735      196                  Graduate, The (1967)  ...           251         983
736      958             Dazed and Confused (1993)  ...            14          53

[737 rows x 25 columns]

Построение модели

6. Обучающая и тестовая выборка

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X, y = df_new[['Film_Id', 'Year','unknown', 'Action', 'Adventure', 'Animation', 'Children`s',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War',
       'Western', 'Rating_count', 'Rating_sum']], df_new['Rating']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.head()

     Film_Id  Year  unknown  Action  ...  War  Western  Rating_count  Rating_sum
358      403  1940        0       0  ...    0        0           201         689
95      1113  1996        0       0  ...    0        0            22          72
403      347  1998        0       0  ...    0        0           137         481
415     1474  1993        0       0  ...    0        0             6          17
724      576  1993        0       0  ...    0        0            93         281

[5 rows x 23 columns]

6. Модель линейной регресии

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model_1 = LinearRegression()

In [ ]:
model_1.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_predict = model_1.predict(X_test)
y_predict

array([1.60217189, 1.19828421, 1.79492811, 1.49813477, 1.76759439,
       2.80243672, 3.67144379, 2.27799403, 1.19796208, 1.19795904,
       1.63645714, 4.42896062, 1.66111892, 1.10587818, 2.39069518,
       1.52737296, 1.2054499 , 1.13836132, 4.11476723, 1.2164264 ,
       1.96128317, 1.05938775, 1.2591579 , 1.36395751, 2.09659737,
       1.54116293, 1.40050209, 1.80093672, 1.47005822, 1.48798431,
       1.74441977, 1.09326583, 1.32619669, 1.02857896, 1.24978099,
       1.05266725, 1.15122995, 1.76330768, 1.05576972, 1.05937394,
       1.67414639, 1.09537802, 1.1403971 , 1.59477152, 2.62302147,
       2.54699728, 1.42002682, 1.20451718, 2.46493732, 1.54056066,
       1.22947765, 1.35945556, 2.23783359, 3.07437901, 3.09179021,
       2.72891862, 1.26499493, 1.20328912, 1.44877722, 1.49526142,
       2.4393008 , 1.17386877, 1.1379877 , 1.74350278, 1.15391041,
       1.72066685, 1.20669478, 1.13328839, 1.14235916, 1.33419517,
       2.26714799, 1.59529902, 1.26370761, 3.3290689 , 1.87765801,
       1.52169672, 1.35383657, 3.90637905, 1.60723436, 1.28973852,
       1.09575472, 1.80430462, 1.25874667, 1.15694871, 1.78284313,
       6.08737243, 1.24332424, 1.50383377, 1.92152223, 1.61888821,
       1.48249169, 1.83580477, 2.40838829, 1.19520051, 1.99409057,
       1.06705206, 1.18387458, 1.85529547, 2.60295993, 1.19628467,
       1.86056373, 1.86682223, 3.00907395, 1.1804342 , 0.63670477,
       1.25373785, 1.50052703, 1.34670251, 2.23697634, 1.75685309,
       1.04226519, 2.16764429, 1.20141009, 2.60510658, 1.52541617,
       1.81911955, 3.88661954, 1.16329951, 1.28217832, 1.64184646,
       2.53926766, 4.66667742, 1.94382455, 1.59956571, 1.22462121,
       1.36774346, 1.46117461, 1.52763042, 1.01450092, 1.13121486,
       1.7597352 , 1.52689043, 3.44642942, 1.2556602 , 1.44162675,
       1.13747472, 2.61508904, 1.93691049, 1.5025121 , 1.16435081,
       1.32939679, 1.66475035, 0.772187  , 1.72644605, 1.77534161,
       1.39977107, 1.33230914, 3.54337012])

7. Оценка качества модели линейной регрессии методом MSE

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_train, model_1.predict(X_train))

1.205688635726331

In [ ]:
mean_squared_error(y_test, model_1.predict(X_test))

1.2863591944525898

Часть 2. Pyspark

In [ ]:
!apt-get update

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,221 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [473 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,418 kB]
Get:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,780 kB]
Ign:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [634 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [910 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,188 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [506 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,657 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.5 kB]
Fetched 13.2 MB in 3s (4,311 kB/s)
Reading package lists... Done

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q www-us.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

In [ ]:
!tar -xvf spark-2.4.8-bin-hadoop2.7.tgz

spark-2.4.8-bin-hadoop2.7/
spark-2.4.8-bin-hadoop2.7/LICENSE
spark-2.4.8-bin-hadoop2.7/NOTICE
spark-2.4.8-bin-hadoop2.7/R/
spark-2.4.8-bin-hadoop2.7/R/lib/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/DESCRIPTION
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/INDEX
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/Rd.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/features.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/hsearch.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/links.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/nsInfo.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/package.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/NAMESPACE
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdb
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdx
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/AnIndex
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdb
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdx
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/aliases.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/paths.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/00Index.html
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/R.css
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/general.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/shell.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/testthat/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/testthat/test_basic.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/daemon.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/worker.R
spark-2.4.8-bin-hadoop2.7/R/lib/sparkr.zip
spark-2.4.8-bin-hadoop2.7/README.md
spark-2.4.8-bin-hadoop2.7/RELEASE
spark-2.4.8-bin-hadoop2.7/bin/
spark-2.4.8-bin-hadoop2.7/bin/beeline
spark-2.4.8-bin-hadoop2.7/bin/beeline.cmd
spark-2.4.8-bin-hadoop2.7/bin/docker-image-tool.sh
spark-2.4.8-bin-hadoop2.7/bin/find-spark-home
spark-2.4.8-bin-hadoop2.7/bin/find-spark-home.cmd
spark-2.4.8-bin-hadoop2.7/bin/load-spark-env.cmd
spark-2.4.8-bin-hadoop2.7/bin/load-spark-env.sh
spark-2.4.8-bin-hadoop2.7/bin/pyspark
spark-2.4.8-bin-hadoop2.7/bin/pyspark.cmd
spark-2.4.8-bin-hadoop2.7/bin/pyspark2.cmd
spark-2.4.8-bin-hadoop2.7/bin/run-example
spark-2.4.8-bin-hadoop2.7/bin/run-example.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-class
spark-2.4.8-bin-hadoop2.7/bin/spark-class.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-class2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-shell
spark-2.4.8-bin-hadoop2.7/bin/spark-shell.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-shell2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-sql
spark-2.4.8-bin-hadoop2.7/bin/spark-sql.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-sql2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-submit
spark-2.4.8-bin-hadoop2.7/bin/spark-submit.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-submit2.cmd
spark-2.4.8-bin-hadoop2.7/bin/sparkR
spark-2.4.8-bin-hadoop2.7/bin/sparkR.cmd
spark-2.4.8-bin-hadoop2.7/bin/sparkR2.cmd
spark-2.4.8-bin-hadoop2.7/conf/
spark-2.4.8-bin-hadoop2.7/conf/docker.properties.template
spark-2.4.8-bin-hadoop2.7/conf/fairscheduler.xml.template
spark-2.4.8-bin-hadoop2.7/conf/log4j.properties.template
spark-2.4.8-bin-hadoop2.7/conf/metrics.properties.template
spark-2.4.8-bin-hadoop2.7/conf/slaves.template
spark-2.4.8-bin-hadoop2.7/conf/spark-defaults.conf.template
spark-2.4.8-bin-hadoop2.7/conf/spark-env.sh.template
spark-2.4.8-bin-hadoop2.7/data/
spark-2.4.8-bin-hadoop2.7/data/graphx/
spark-2.4.8-bin-hadoop2.7/data/graphx/followers.txt
spark-2.4.8-bin-hadoop2.7/data/graphx/users.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/
spark-2.4.8-bin-hadoop2.7/data/mllib/als/
spark-2.4.8-bin-hadoop2.7/data/mllib/als/sample_movielens_ratings.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/als/test.data
spark-2.4.8-bin-hadoop2.7/data/mllib/gmm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/license.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/29.5.a_b_EGDP022204.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/54893.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/DP153539.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/DP802813.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/not-image.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/license.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/BGRA.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/BGRA_alpha_60.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/chr30.4.184.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/grayscale.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/29.5.a_b_EGDP022204.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/not-image.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/54893.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP153539.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP802813.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA_alpha_60.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/chr30.4.184.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/grayscale.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/iris_libsvm.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/kmeans_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/pagerank_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/pic_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/ridge-data/
spark-2.4.8-bin-hadoop2.7/data/mllib/ridge-data/lpsa.data
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_binary_classification_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_fpgrowth.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_kmeans_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_lda_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_lda_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_linear_regression_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_movielens_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_multiclass_classification_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_svm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/streaming_kmeans_data_test.txt
spark-2.4.8-bin-hadoop2.7/data/streaming/
spark-2.4.8-bin-hadoop2.7/data/streaming/AFINN-111.txt
spark-2.4.8-bin-hadoop2.7/examples/
spark-2.4.8-bin-hadoop2.7/examples/jars/
spark-2.4.8-bin-hadoop2.7/examples/jars/scopt_2.11-3.7.0.jar
spark-2.4.8-bin-hadoop2.7/examples/jars/spark-examples_2.11-2.4.8.jar
spark-2.4.8-bin-hadoop2.7/examples/src/
spark-2.4.8-bin-hadoop2.7/examples/src/main/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaHdfsLR.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaLogQuery.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaPageRank.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaStatusTrackerDemo.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaTC.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaWordCount.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaAFTSurvivalRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaALSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBinarizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBisectingKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketedRandomProjectionLSHExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSqSelectorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSquareTestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaCorrelationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaCountVectorizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDCTExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDocument.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaElementwiseProductExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaEstimatorTransformerParamExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaFPGrowthExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaFeatureHasherExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGaussianMixtureExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGeneralizedLinearRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeRegressorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaImputerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaIndexToStringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaInteractionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaIsotonicRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLDAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLabeledDocument.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearSVCExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionSummaryExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMaxAbsScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMinHashLSHExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMinMaxScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaCrossValidationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaTrainValidationSplitExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMulticlassLogisticRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMultilayerPerceptronClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNGramExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNaiveBayesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNormalizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaOneHotEncoderEstimatorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaOneVsRestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPCAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPipelineExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPolynomialExpansionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPowerIterationClusteringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPrefixSpanExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaQuantileDiscretizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRFormulaExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestRegressorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaSQLTransformerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStandardScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStopWordsRemoverExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStringIndexerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaSummarizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaTfIdfExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaTokenizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorAssemblerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorIndexerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSizeHintExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSlicerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaWord2VecExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaALS.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaAssociationRulesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaBinaryClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaBisectingKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaChiSqSelectorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaCorrelationsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaElementwiseProductExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGaussianMixtureExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingKolmogorovSmirnovTestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaIsotonicRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaKernelDensityEstimationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLBFGSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLatentDirichletAllocationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLinearRegressionWithSGDExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLogisticRegressionWithLBFGSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaMultiLabelClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaMulticlassClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaNaiveBayesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPCAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPowerIterationClusteringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPrefixSpanExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRankingMetricsExample.java

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

8. Загрузка данных в Spark

In [ ]:
df_ratings = spark.read.csv('ratings.csv', inferSchema=True, header=True)
df_ratings.show()

+-------+-------+------+---------+----------+
|User_Id|Film_Id|Rating| Unixtime|     Date_|
+-------+-------+------+---------+----------+
|    186|    302|     3|891717742|04.04.1998|
|     22|    377|     1|878887116|07.11.1997|
|    244|     51|     2|880606923|27.11.1997|
|    166|    346|     1|886397596|02.02.1998|
|    298|    474|     4|884182806|07.01.1998|
|    115|    265|     2|881171488|03.12.1997|
|    253|    465|     5|891628467|03.04.1998|
|    305|    451|     3|886324817|01.02.1998|
|      6|     86|     3|883603013|31.12.1997|
|     62|    257|     2|879372434|12.11.1997|
|    286|   1014|     5|879781125|17.11.1997|
|    200|    222|     5|876042340|05.10.1997|
|    210|     40|     3|891035994|27.03.1998|
|    224|     29|     3|888104457|21.02.1998|
|    303|    785|     3|879485318|14.11.1997|
|    122|    387|     5|879270459|11.11.1997|
|    194|    274|     2|879539794|14.11.1997|
|    291|   1042|     4|874834944|21.09.1997|
|    234|   1184|     2|892079237|08.04.1998|
|    119|    392|     4|886176814|30.01.1998|
+-------+-------+------+---------+----------+
only showing top 20 rows

In [ ]:
df_movies = spark.read.csv('movies.csv', inferSchema=True, header=True)
df_movies.show()

+-------+--------------------+------------+----+--------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|Film_Id|           Film_name|Release_date|Year|VHS_date|            IMDb_URL|unknown|Action|Adventure|Animation|Children`s|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-fi|Thriller|War|Western|
+-------+--------------------+------------+----+--------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|      1|    Toy Story (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      2|    GoldenEye (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      3|   Four Rooms (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      4|   Get Shorty (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      5|      Copycat (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      6|Shanghai Triad (Y...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      7|Twelve Monkeys (1...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|
|      8|         Babe (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      9|Dead Man Walking ...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     10|  Richard III (1995)| 22-Jan-1996|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|     11|Seven (Se7en) (1995)| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|     12|Usual Suspects, T...| 14-Aug-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|     13|Mighty Aphrodite ...| 30-Oct-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     14|  Postino, Il (1994)| 01-Jan-1994|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|     15|Mr. Holland's Opu...| 29-Jan-1996|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     16|French Twist (Gaz...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|     17|From Dusk Till Da...| 05-Feb-1996|null|    null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|
|     18|White Balloon, Th...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     19|Antonia's Line (1...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     20|Angels and Insect...| 01-Jan-1995|null|    null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
+-------+--------------------+------------+----+--------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

In [ ]:
df_genre = spark.read.csv('u.genre.csv', sep= '|', inferSchema=True, header=None)

In [ ]:
df_genre = df_genre.withColumnRenamed('_c0', 'Genre')

In [ ]:
df_genre = df_genre.withColumnRenamed('_c1', 'Label')
df_genre.show()

+-----------+-----+
|      Genre|Label|
+-----------+-----+
|    unknown|    0|
|     Action|    1|
|  Adventure|    2|
|  Animation|    3|
| Children's|    4|
|     Comedy|    5|
|      Crime|    6|
|Documentary|    7|
|      Drama|    8|
|    Fantasy|    9|
|  Film-Noir|   10|
|     Horror|   11|
|    Musical|   12|
|    Mystery|   13|
|    Romance|   14|
|     Sci-Fi|   15|
|   Thriller|   16|
|        War|   17|
|    Western|   18|
+-----------+-----+

9. Вычисление средней оценки по фильму в Spark

In [ ]:
df_avg_film = df_ratings.groupby('Film_Id').avg('Rating')
df_avg_film.show()

+-------+------------------+
|Film_Id|       avg(Rating)|
+-------+------------------+
|    496| 4.121212121212121|
|    471|3.6108597285067874|
|    463| 3.859154929577465|
|    148|          3.203125|
|   1342|               2.5|
|    833| 3.204081632653061|
|   1088| 2.230769230769231|
|   1591|3.1666666666666665|
|   1238|             3.125|
|   1580|               1.0|
|   1645|               4.0|
|    392|3.5441176470588234|
|    623| 2.923076923076923|
|    540| 2.511627906976744|
|    858|               1.0|
|    737| 2.983050847457627|
|    243|2.4393939393939394|
|   1025|2.9318181818181817|
|   1084| 3.857142857142857|
|   1127| 2.909090909090909|
+-------+------------------+
only showing top 20 rows

10. Вычисление в Spark средней оценки по каждому жанру

11. Самые популярные и самые непопулярные фильмы

In [ ]:
df_movies = df_movies[['Film_Id', 'Film_name']]
df_movies.show()

+-------+--------------------+
|Film_Id|           Film_name|
+-------+--------------------+
|      1|    Toy Story (1995)|
|      2|    GoldenEye (1995)|
|      3|   Four Rooms (1995)|
|      4|   Get Shorty (1995)|
|      5|      Copycat (1995)|
|      6|Shanghai Triad (Y...|
|      7|Twelve Monkeys (1...|
|      8|         Babe (1995)|
|      9|Dead Man Walking ...|
|     10|  Richard III (1995)|
|     11|Seven (Se7en) (1995)|
|     12|Usual Suspects, T...|
|     13|Mighty Aphrodite ...|
|     14|  Postino, Il (1994)|
|     15|Mr. Holland's Opu...|
|     16|French Twist (Gaz...|
|     17|From Dusk Till Da...|
|     18|White Balloon, Th...|
|     19|Antonia's Line (1...|
|     20|Angels and Insect...|
+-------+--------------------+
only showing top 20 rows

In [ ]:
df_intm=df_ratings.join(df_movies, on= 'Film_Id', how='inner')

In [ ]:
df_grp = df_intm.groupBy('Film_Id').count()
df_grp.show()

+-------+-----+
|Film_Id|count|
+-------+-----+
|    496|  231|
|    471|  221|
|    463|   71|
|    148|  128|
|   1342|    2|
|    833|   49|
|   1088|   13|
|   1591|    6|
|   1238|    8|
|   1580|    1|
|   1645|    1|
|    392|   68|
|    623|   39|
|    540|   43|
|    858|    3|
|    737|   59|
|    243|  132|
|   1025|   44|
|   1084|   21|
|   1127|   11|
+-------+-----+
only showing top 20 rows

In [ ]:
df_grp = df_grp.sort('count', ascending = False)

In [ ]:
df_grp.show()

+-------+-----+
|Film_Id|count|
+-------+-----+
|     50|  583|
|    258|  509|
|    100|  508|
|    181|  507|
|    294|  485|
|    286|  481|
|    288|  478|
|      1|  452|
|    300|  431|
|    121|  429|
|    174|  420|
|    127|  413|
|     56|  394|
|      7|  392|
|     98|  390|
|    237|  384|
|    117|  378|
|    172|  367|
|    222|  365|
|    204|  350|
+-------+-----+
only showing top 20 rows

In [ ]:
df_best = df_grp.limit(5)
df_best.show()

+-------+-----+
|Film_Id|count|
+-------+-----+
|     50|  583|
|    258|  509|
|    100|  508|
|    181|  507|
|    294|  485|
+-------+-----+

In [ ]:
df_grp = df_grp.sort('count')

In [ ]:
df_worst = df_grp.limit(5)
df_worst.show()

+-------+-----+
|Film_Id|count|
+-------+-----+
|   1618|    1|
|   1533|    1|
|   1339|    1|
|   1460|    1|
|   1650|    1|
+-------+-----+